<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/templates/sb_head %>
    <% include partials/templates/datatable %>
    
</head>

<body>
  <% include partials/templates/teacher/sb_nav%>

  <div id="page-wrapper"> 
    <h3>Operation coud not be completed</h3>
    <h4>Error</h4>
    <h5 style="color: red"><b><%=err%></b></h5>
  </div>


    <% include partials/templates/sb_jsdefaults %>
</body>

</html>